*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Work Sans', sans-serif;
}
/* Header */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 250px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
}

nav ul li{
    list-style: none;
    margin-right: 25px;
    font-size: 1rem;
    font-weight: 500;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

/* Banner */

.banner-content{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    margin-top: 116px;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.text-gray{
    color: #727272;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn-primary{
    font-size: 20px;
    border: none;
    border-radius: 8px;
background: #FF900E;
    color: #fff;
    padding: 20px 25px;
    margin: 32px 0px 70px;
}

.banner-img{
    width: 100%;
    border-radius: 10px;
}



/* Main */

main{
    max-width: 1440px;
    margin: 80px auto;
}

/* Teams */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-image-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}

.teams-content{
    padding: 50px;
}

.teams-content-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 30px;
}
.quick-list{
    color: #727272;
}
.features-text{
    color: #ff900E;
    font-weight: 700;
}
.teams-content-description{

}
/* Features */

.features{
    display: flex;
    margin-top: 130px;
    gap: 100px;
}
.feature-content .card{
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 30px 0px rgba(0,0,0,0.06);
    padding: 30px;
    margin-bottom: 20px;
}
.feature-content .teams-content-title{
    border-left: 5px solid #FF900E;
    padding-left: 30px;
}

.feature-image img{
    width: 100%;
}

.ten-years-badge{
    border-radius: 8px;
    background-color: #ff900e;
    color: #fff;
    padding: 42px;
    width: 300px;
    text-align: center;

}
.ten-years-badge h2{
    font-size: 46px;
    margin-bottom: 20px;

}

/* Facts */
.facts{
    margin: 60px 0px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    margin: 40px 0px;
}

.facts-card-container .card{
    border: 2px solid yellow;
    border-radius: 20px;
    padding: 45px 30px;
    text-align: center;

}
.facts-card-container  .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
.facts-card-container  .card-title{
    font-weight: 600;
    color: #727272;
    font-size: 1.25rem;
}


/* Sponsor */

.sponsor-container{
    margin: 50px 0px;
    display: flex;
    justify-content: space-around;
}


.text-center{
    text-align: center;
}









/* Media Queries */

@media screen and (max-width:576px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    ul{
        margin-top: 10px;
    }
    .banner-content{
        margin-top: 40px;
    }
    
    .banner-title{
        font-size: 2rem;
    }
    
    .banner-description, .facts-card-container, .facts{
        padding: 10px;
    }
    
    .btn-primary{
        font-size: 20px;
        border: none;
        border-radius: 8px;
        background: #FF900E;
        color: #fff;
        padding: 20px 25px;
        margin: 32px 0px 70px;
    }
    .teams-container{
        flex-direction: column;
    }
    .teams-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    section{
        padding: 50px;
    }
    .facts-card-container{
        flex-direction: column;
        gap: 20px;
    }
    .sponsor-container{
        flex-direction: column;
        gap: 20px;
    }
    
    
    
}

@media screen and (min-width:576px) and (max-width:960px) {
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    ul{
        margin-top: 10px;
    }
    .teams-container{
        flex-direction: column;
    }
    section{
        padding: 50px;
    }
}
